In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [2]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
#Using .unique to find each individual screen name and counting them
total_players = [len(purchase_df["SN"].unique())]
total_players_df = pd.DataFrame(total_players, columns = ["Total Players"])
total_players_df

   Total Players
0            576

In [ ]:
#Creating variables to hold the values that are found using fucntions
unique_items = len(purchase_df["Item ID"].unique())
average_price = purchase_df["Price"].mean()
number_purchases = purchase_df["Purchase ID"].count()
total_revenue = purchase_df["Price"].sum()

#Creating variable to hold the data frame information
purchasing_analysis = [{"Number of Unique Items": unique_items,
                       "Average Price": average_price,
                       "Number of Purchases": number_purchases,
                       "Total Revenue": total_revenue}]
#Creating the data frame
total_purchase_analysis_df = pd.DataFrame(purchasing_analysis)
total_purchase_analysis_df["Average Price"] = total_purchase_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
total_purchase_analysis_df["Total Revenue"] = total_purchase_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
total_purchase_analysis_df

In [ ]:
#Grouping by gender but droping duplicates to not count reoccuring sreeen names twice
grouped_df = purchase_df.drop_duplicates("SN").groupby("Gender").count()
grouped_df
#Creating variable and finding the values of each gender
male_total = grouped_df.loc["Male", "SN"]
female_total = grouped_df.loc["Female", "SN"]
other_total = grouped_df.loc["Other / Non-Disclosed", "SN"]

#Calculating the percent values
male_percent = male_total/total_players
female_percent = female_total/total_players
other_percent = other_total/total_players

#Creating data frame
gender_demographics_df = pd.DataFrame([[male_total, male_percent], [female_total, female_percent], [other_total, other_percent]],
     index=["Male", "Female", "Other / Non-Disclosed"], columns=["Total Count", "Percentage of Players"])

#Formatting the Percentage of Player column as a %
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].astype(float).map("{:.2%}".format) 
gender_demographics_df

In [ ]:
#Grouping orginal data frame by Gender
grouped_gender_df = purchase_df.groupby("Gender")
grouped_gender_df["Purchase ID"].count()

#Finding the average price by Gender
gender_average_price = grouped_gender_df["Price"].mean()
gender_average_price

#Finding the total purchased prices by Gender
gender_total_purchase = grouped_gender_df["Price"].sum()
gender_total_purchase

#Finding the average total per person. Need to drop duplicates to calculate based on accruate number of people.
total_purchase_person1 = purchase_df.drop_duplicates("SN").groupby("Gender")
total_purchase_person1["Purchase ID"].count()
average_per_person = gender_total_purchase/total_purchase_person1["Purchase ID"].count()
average_per_person

#Creating data frame and formatting the columns
gender_purchasing_analysis = pd.DataFrame(grouped_gender_df["Purchase ID"].count())
gender_purchasing_analysis["Average Purchase Price"] = gender_average_price.map("${:,.2f}".format)
gender_purchasing_analysis["Total Purchase Value"] = gender_total_purchase.map("${:,.2f}".format)
gender_purchasing_analysis["Avg Total Purchase per Person"] = average_per_person.map("${:,.2f}".format)
gender_purchasing_analysis.rename(columns={"Purchase ID": "Purchase Count"})
gender_purchasing_analysis

In [ ]:
#Creating bin for the ages and then variable to hold the age ranges
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Creating variable to hold the data 
age_demographics_df = purchase_df
age_demographics_df = age_demographics_df.drop_duplicates("SN")
age_demographics_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
age_demographics_df

#Grouping data by the specifc age ranges
age_demographics_df = age_demographics_df.groupby("Age Ranges")
age_demographics_df.count()

#Creating new data frame
age_range_df = pd.DataFrame(age_demographics_df.count())
age_range_df["Purchase ID"] = (age_range_df["Purchase ID"]/total_players)*100
age_range_df["Purchase ID"] = age_range_df["Purchase ID"].map("{:,.2f}%".format)
age_range_df
summary_age_df = age_range_df[["SN", "Purchase ID"]]
summary_age_df

#Renaming columns
total_summary_age_df = summary_age_df.rename(columns={"SN": "Total Count",
                                                  "Purchase ID": "Percentage of Players"})
total_summary_age_df

In [ ]:
#Creating vairable to hold data
age_analysis_df = purchase_df
age_analysis_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
age_analysis_df

#Group by specifc age ranges
age_analysis_df = age_analysis_df.groupby("Age Ranges")

#Finding average price
age_average_price = age_analysis_df["Price"].mean()

#Finding total purchase value
age_total_purchases = age_analysis_df["Price"].sum()

#Calculating average per person based on count with no duplicates
avg_age_total_person = age_total_purchases/age_demographics_df["Purchase ID"].count()
avg_age_total_person

#Creating data frame
age_purchasing_analysis = pd.DataFrame(age_analysis_df["Purchase ID"].count())
age_purchasing_analysis["Average Purchase Price"] = age_average_price.map("${:,.2f}".format)
age_purchasing_analysis["Total Purchase Value"] = age_total_purchases.map("${:,.2f}".format)
age_purchasing_analysis["Avg Total Purchase per Person"] = avg_age_total_person.map("${:,.2f}".format)
age_purchasing_analysis.rename(columns={"Purchase ID": "Purchase Count"})
age_purchasing_analysis

In [ ]:
#Grouping data by screen name
spenders_name = purchase_df.groupby(["SN"])
spenders_name["Purchase ID"].count()

#Finding and formatting Average Purchase Price
top_average_purchase_price = spenders_name["Price"].mean()
top_average_purchase_price = top_average_purchase_price.map("${:,.2f}".format)

#Finding Total Purchase Value
top_total_purchase_value = spenders_name["Price"].sum()
top_total_purchase_value

#Creating data frame
top_spenders_df = pd.DataFrame(spenders_name["Purchase ID"].count())
top_spenders_df["Average Purchase Price"] = top_average_purchase_price
top_spenders_df["Total Purchase Value"] = top_total_purchase_value

#Setting sort order by Total Purchase Value
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
top_spenders_df.head()

#Formatting the value for the Total Purchase Value
top_total_purchase_value = top_total_purchase_value.map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_total_purchase_value

#Viewing the top screen names
top_spenders_df.head()

In [ ]:
#grouping data by 2 different columns
pop_items_ID = purchase_df.groupby(["Item ID", "Item Name"])
pop_items_ID.count()

#Finding Purchase Count
most_pop_items_df = pd.DataFrame(pop_items_ID["Purchase ID"].count())
most_pop_items_df

#Finding Total Purchase Value
item_total_purchase = pop_items_ID["Price"].sum()
item_total_purchase = item_total_purchase.map("${:.2f}".format)
item_total_purchase

#Finding Item Price
avg_item_price = pop_items_ID["Price"].mean()
avg_item_price = avg_item_price.map("${:.2f}".format)
avg_item_price

#Creating new columns for data frame
most_pop_items_df["Item Price"] = avg_item_price
most_pop_items_df["Total Purchase Value"] = item_total_purchase
most_pop_items_df

#Rename column, setting sort order by Purchase Count, and viewing the top items
final_pop_items_df = most_pop_items_df.rename(columns={"Purchase ID": "Purchase Count"})
top_pop_items_df = final_pop_items_df.sort_values("Purchase Count", ascending=False)
top_pop_items_df.head()

In [ ]:
#Reusing variables from the previous Most Popular Items data
final_pop_items_df["Total Purchase Value"] = pop_items_ID["Price"].sum()
final_pop_items_df

#Sorting data by new criteria of Total Purchase Value
top_pop_items_df = final_pop_items_df.sort_values("Total Purchase Value", ascending=False)

#View the top items
top_pop_items_df["Total Purchase Value"] = item_total_purchase
top_pop_items_df.head()

In [ ]:
#Conclusions

#1) Of the total amount of players, a marjority of them were male at 84%.

#2) The majority of the players were between the ages of 15 and 29 at 77.18%. Looking closer at this range, 
#    we can specifcally see that 46.79% of the 77.18% was between the aged of 20 and 24.

#3) The items that at selling the best are the Final Critic, Oathbreaker, and Fiery Glass Crusaders as they are all
#    consistently in the top 5 when it comes to the Amount Purchased and Total Purchase Value.